{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<section>
    <div class="o_nas">
        <h3>{{ message }}</h3>
      

        <p>Интернет-магазин вещей по тематике <b>Гарри Поттера</b> и со вселенной Гарри Поттера.</p>
        <p>У нас Вы можете приобрести маггловскую одежду с принтом Гарри Поттер, а также школьные и парадные мантии,</p>
        <p>волшебные шляпы, шарфы факультетов Хогвартса и даже наряды, которые носили актеры во время съемок фильмов о Мальчике-который-выжил.</p>
        <p>И, конечно,у нас так же есть товары по <b>Фантастическим тварям.</b></p>
        <img src="{% static 'app/content/ft.jpg' %}" >
     
        <p>Осуществляем доставку по всей России и странам СНГ.</p>
    </div>
</section>
{% endblock %}
