{% extends "app/layout.html" %}

{% block content %}

<div class="anketa">
    <h2>{{ title }}</h2>
    <h3>{{ message }}</h3>

    <address>
        Псков<br />
        Улица Марата, дом 68, офис 3В<br />
        <abbr title="Phone">Тел:</abbr>
        666-666-666
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">elka.9906@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">elka.9906@gmail.com</a>
    </address>
</div>
{% endblock %}